.dark-theme {
  ion-content {
    background-color: #090f2f;
    color: #fff;

    ion-item-divider, ion-item, ion-card {
      background-color: #090f2f;
      color: #fff;

      ion-thumbnail {
        background-color: white;
      }
    }

    ion-label button {
      background-color: #090f2f;
      color: #fff;
    }

    span, ion-label, h3, h4, p, strong, ion-card-title {
      color: white !important;
    }
  }

  .toolbar-title {
    color: #fff;
  }

  ion-header {
    h4 {
      color: white !important;
    }
  }
}
