// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #488aff,
  danger: #f53d3d,
  guindaille: #dd156c,
  navbarColor: #009688,
  news:#c10a27,
  event:#ec690c,
  sport:#f59d22,
  g2: #e62175,
  cred: #b3b3b3,
  bibli: #0071bc,
  etudes: #2e3192,
  support: #8d92c8,
  ucl: #002e5f,
  setting: #4d4d4d,
  map: #00a99d,
  resto: #8cc63f,
  mobilite: #006837,
  urg: #ec1c24,
  fun: #93278f,
  uclouvain: rgb(0, 33, 78),
  home: #002A6A);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$content-ios-transition-background: transparent;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
@import "noto-sans";
