<ion-header>
    <ion-toolbar color="home">
      <ion-title align="center">
        <ion-img alt="logo"   height="40" src="../../../assets/img/header2.png" ></ion-img>
    </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ng-container *ngIf="(userS.hasCampus() === false)">
      <p align="center" style="font-size:20px;">{{'HOME.WHICH' | translate}}</p>
      <ion-list  ngDefaultControl class="other">
        <ion-radio-group [(ngModel)]="where">
          <ion-item class="other" id="LLN">
            <ion-label>Louvain-la-Neuve</ion-label>
            <ion-radio value="LLN" checked></ion-radio>
          </ion-item>
          <ion-item class="other">
            <ion-label>Woluwe</ion-label>
            <ion-radio value="Woluwe"></ion-radio>
          </ion-item>
          <ion-item class="other">
            <ion-label>Mons</ion-label>
            <ion-radio value="Mons"></ion-radio>
          </ion-item>
          <ion-item class="other">
            <ion-label>Tournai</ion-label>
            <ion-radio value="Tournai" disabled></ion-radio>
          </ion-item>
          <ion-item class="other">
            <ion-label>St-Gilles</ion-label>
            <ion-radio value="StGilles" disabled></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-row center >
        <ion-col text-center >
          <ion-button round  (click)="updateCampus()" id="okbutton">{{'HOME.OK' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  
    <!--------------------- CAMPUS CHOSEN : HOME MENU ------------------------------------------------------------>
    <ng-container *ngIf="userS.hasCampus()" class="menuHome" class="has-header has-subheader">
      <ion-grid class="menuHome" #menuHome  >
        <!----------------------------------------------------------GRID FOR PORTRAIT------------------------------------------------------------------------------->
        <ion-row class="homeM">
          <ion-col col-4  text-center id="study">
            <img alt="etudes" src="./assets/img/études.png" align="middle"   (click)="changePage(studiesPage)"/>
            <p align="center"><b><font color="#002D62" >{{'HOME.ETUDES' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center>
            <img alt="biblio" src="./assets/img/biblio.png" align="middle"  (click)="changePage(libraryPage)"/> 
            <p align="center"><b><font color="#002D62">{{'HOME.LIBRARY' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center>
            <img alt="aide" src="./assets/img/support.png" align="middle"   (click)="changePage(helpDeskPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.HELP' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
        <ion-row class="homeM">
          <ion-col col-4 text-center>
            <img alt="logo" src="./assets/img/news.png" align="middle"  (click)="changePage(newsPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.NEWS' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center >
            <img alt="louvinfo" src="./assets/img/event.png" align="middle"   (click)="changePage(eventPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.EVENTS' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center>
            <img alt="sport" src="./assets/img/sport.png" align="middle"  (click)="changePage(sportPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.SPORTS' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
        <ion-row class="homeM">
          <ion-col col-4  text-center>
            <img alt="carte" src="./assets/img/cartes.png" align="middle"  (click)="changePage(mapPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.MAP' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center>
            <img alt="resto" src="./assets/img/resto.png" align="middle" (click)="changePage(restoPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.REST' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4 text-center>
            <img alt="voiture" src="./assets/img/mobilité.png" align="middle"  (click)="changePage(mobilityPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.MOBILITY' | translate}}</font></b></p>
          </ion-col>
        </ion-row >
        <ion-row class="homeM">
          <ion-col col-4  text-center>
             <img alt="param" src="./assets/img/setting.png" align="middle"  (click)="changePage(paramPage)"/>
             <p align="center"><b><font color="#002D62">{{'MENU.PARAM' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center>
             <img alt="guindaille" src="./assets/img/g2.png" align="middle" (click)="changePage(guindaillePage)"/>
             <p align="center"><b><font color="#002D62">{{'MENU.PARTY' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-4  text-center >
             <img alt="urgence" src="./assets/img/urgence.png" align="middle"  (click)="emergency()"/>
             <p align="center"><b><font color="#002D62">{{'MENU.URG' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
  
  <!----------------------------------------------------------GRID FOR LANDSCAPE------------------------------------------------------------------------------->
        <ion-row class="homeML">
          <ion-col col-3  text-center id="study">
            <img alt="etudes" src="./assets/img/études.png" align="middle"   (click)="changePage(studiesPage)"/>
            <p align="center"><b><font color="#002D62" >{{'HOME.ETUDES' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
            <img alt="biblio" src="./assets/img/biblio.png" align="middle"  (click)="changePage(libraryPage)"/> 
            <p align="center"><b><font color="#002D62">{{'HOME.LIBRARY' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
            <img alt="aide" src="./assets/img/support.png" align="middle"   (click)="changePage(helpDeskPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.HELP' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3 text-center>
            <img alt="logo" src="./assets/img/news.png" align="middle"  (click)="changePage(newsPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.NEWS' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
        <ion-row class="homeML">
          <ion-col col-3  text-center >
            <img alt="louvinfo" src="./assets/img/event.png" align="middle"   (click)="changePage(eventPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.EVENTS' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
            <img alt="sport" src="./assets/img/sport.png" align="middle"  (click)="changePage(sportPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.SPORTS' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
            <img alt="carte" src="./assets/img/cartes.png" align="middle"  (click)="changePage(mapPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.MAP' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
            <img alt="resto" src="./assets/img/resto.png" align="middle" (click)="changePage(restoPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.REST' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
        <ion-row class="homeML">
          <ion-col col-3 text-center>
            <img alt="voiture" src="./assets/img/mobilité.png" align="middle"  (click)="changePage(mobilityPage)"/>
            <p align="center"><b><font color="#002D62">{{'HOME.MOBILITY' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
             <img alt="param" src="./assets/img/setting.png" align="middle"  (click)="changePage(paramPage)"/>
             <p align="center"><b><font color="#002D62">{{'MENU.PARAM' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center>
             <img alt="guindaille" src="./assets/img/g2.png" align="middle" (click)="changePage(guindaillePage)"/>
             <p align="center"><b><font color="#002D62">{{'MENU.PARTY' | translate}}</font></b></p>
          </ion-col>
          <ion-col col-3  text-center >
             <img alt="urgence" src="./assets/img/urgence.png" align="middle"  (click)="emergency()"/>
             <p align="center"><b><font color="#002D62">{{'MENU.URG' | translate}}</font></b></p>
          </ion-col>
        </ion-row>
        <ion-row class="ucl">
          <ion-col col-6 offset-3 col-md-4 offset-md-4 align-self-center text-center>
            <img class="five" alt="uclouvain" align="top"  src="./assets/img/uclouvain.png" (click)="openUCL('http://www.uclouvain.be')"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-content>
  
  <ion-fab vertical="bottom" horizontal="start" #fab *ngIf="(userS.hasCampus() === true)">
    <ion-fab-button mini>
      <ion-icon  name="arrow-dropup" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
       <ion-fab-button href='https://www.linkedin.com/school/universite-catholique-de-louvain/'>
         <ion-icon  name="logo-linkedin" ></ion-icon>
       </ion-fab-button>
       <ion-fab-button href='https://twitter.com/UCLouvain_be'>
         <ion-icon  name="logo-twitter" ></ion-icon>
       </ion-fab-button>
       <ion-fab-button href='https://www.facebook.com/UCLouvain/'>
         <ion-icon  name="logo-facebook" ></ion-icon>
       </ion-fab-button>
       <ion-fab-button href='https://www.youtube.com/user/universitedelouvain'>
         <ion-icon  name="logo-youtube" ></ion-icon>
       </ion-fab-button>
       <ion-fab-button href='https://www.instagram.com/uclouvain'>
         <ion-icon  name="logo-instagram" ></ion-icon>
       </ion-fab-button>
    </ion-fab-list>
  </ion-fab>